.crystalImg {
	width: 200px;
	height: 200px;
	border-style: solid;
}


html {
	background: url("../images/back.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	text-align: center;
	background: orange;
	margin: 0 auto;
	font-size: 80px;
	color: white;
	border-style: solid;
}

h2 {
	text-align: left;
	background: yellow;
	font-size: 20px;
	color: green;
	border-style: solid;
	width: 50%;
	height:400px;
	padding-top: 20px;
}

h3 {
	text-align: left;
	background: green;
	font-size: 50px;
	color: black;
	border-style: solid;
	width: 35%;
	height: 100px;
	
}

h4 {
	text-align: left;
	background: teal;
	font-size: 50px;
	color: black;
	border-style: solid;
	width: 30%;

}

h5 {
	height: 50px;
	text-align: left;
	background: teal;
	font-size: 20px;
	color: black;
	border-style: solid;
	width: 20%;
}
}