.crystalImg {
	width: 200px;
	height: 200px;
	border-style: solid;
	margin-left: 20px;
}
#container{
	widows: 100%;
	margin: auto;
	height: 125px;
	padding-top: 20px;
}


html {
	background: url("../images/back.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	text-align: center;
	background: orange;
	margin: 0 auto;
	font-size: 80px;
	color: white;
	border-style: solid;
	height: 100px;
	border-bottom: 5px;

}

h2 {
	text-align: left;
	background: yellow;
	font-size: 20px;
	color: green;
	border-style: solid;
	width: 50%;
	height:400px;
	padding-top: 20px;
	margin-top: 20px;
	margin-left: 20px;
	padding-left: 10px;
}

h3 {
	text-align: left;
	background: green;
	font-size: 50px;
	color: black;
	border-style: solid;
	width: auto;
	float: left;
	margin: auto;
	height: 100px;
	margin-left: 20px;
	
	
}

h4 {
	text-align: left;
	background: teal;
	font-size: 50px;
	color: black;
	border-style: solid;
	width: auto;
	float: left;
	margin: auto;
	margin-left: 10px;

}

h5 {
	font-size: 50px;
	text-align: left;
	background: #FAEBD7;
	color: black;
	border-style: solid;
	width: 20%;
	margin: auto;
	float: left;
	margin-left: 20px;
	margin-top: 10px;

}
